.box {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 70px;
    position: absolute;
    outline: 2px solid black;
    bottom: 9px;
    left: 10px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: bounceX 3s linear 1s infinite , bounceY 1s ease-out 1s infinite alternate;
}

.rectangle {
    height: 1vh;
    width: 100%;
    background-color: greenyellow;
    position: absolute;
    bottom: 0px;
    left: 0px; 
}

.container {
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: blue;
    overflow: hidden; /* Ensures ball stays inside */
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        width: 90vw;
        height: 70vh;
    }
}

@keyframes bounceX {
    from {
        left: 0px;
    }
    to{
        left: 100%;
    }
    
}

@keyframes bounceY {
    from {
        bottom: 0px;
    }
    to{
        bottom: 100%;
    }
}