/*
    CSS Shadows

    A. box-shadow property is used to add shadow effects around an element's frame.
    Format:-     box-shadow: h-offset v-offset blur spread color inset;

    1. h-offset and v-offset: Determines the shadow's horizontal and vertical position.
    2. blur: The larger the value, the blurrier the shadow.
    3. spread: Expands or shrinks the shadow size.
    4. color: Defines the shadow color.
    5. inset: Makes the shadow inner.

    B. text-shadow property is used to add shadow effects to text.
    Format:-     text-shadow: h-offset v-offset blur color;

    C. outline property is used to create a line around an element, outside its border.
    Format:-    outline: width style color;
    1. width: Sets the outline width.
    2. style: Determines the style of the outline such as solid, dotted, or dashed.
    3. color: Sets the outline color.

    D. Difference between border and outline:
    While both can visually appear similar, outlines differ from borders in a few ways:

    1. Position: Outlines don't take up space; they're drawn around the element, outside of any border.
    2. Offset: Using the outline-offset property, you can set the space between an outline and the edge or border of an element.
    3. Width: Borders can have varying widths on different sides, outlines have a uniform width.
    4. Rounded Corners: Borders can have rounded corners using border-radius, while outlines generally cannot.


*/


*{
    margin: 0;
    padding: 0;
}

.box{
    padding: 20px;
    margin: 10px;font-weight: bold;
    color: lightblue;
    background-color: crimson;
    width: 77px;
    
    box-shadow: -5px -6px 6px 13px greenyellow;
    text-shadow: 1.5px 1.5px 2px blue;
    border: 2px solid blue;
    border-radius: 0.03%;
    outline: 5px groove green;
    outline-offset: 5px;
}