.img1{
    filter: brightness(122%);
    filter: contrast(150%);
    filter: hue-rotate(90deg);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    filter: opacity(0.8);
    filter: saturate(150%);
}

.img2{
    filter: blur(3px);
    filter: grayscale(100%);
    filter: invert(.86);
    height: 300px;
    width: 600px;
}

.img3{
    filter: sepia(100%);
}